// @font-face {
//   font-family: 'iconfont';
//   src: 
//   url('D:/MyWorkSpaces/gallery-by-react/src/fonts/icons/turn-arrow.eot') format("embedded-opentype"), /* IE9*/
//   url('D:/MyWorkSpaces/gallery-by-react/src/fonts/icons/turn-arrow.woff') format('woff'), /* chrome、firefox */
//   url('D:/MyWorkSpaces/gallery-by-react/src/fonts/icons/turn-arrow.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//   url('D:/MyWorkSpaces/gallery-by-react/src/fonts/icons/turn-arrow.svg#lamebrai-webfont') format('svg'); /* iOS 4.1- */
// }

html,body {
  width: 100%;
  height: 100%;

  background-color: #222;
}

.content {
  width: 100%;
  height: 100%;
}

/*stage -- start */
.stage {
  position: relative;

  width: 100%;
  height: 100%;
}
/* stage -- end */
.img-photo {
  width: 240px;
  height: 200px;
}

.img-sec {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: #ddd;

  //设置翻转动画
  perspective: 1800px;

  @at-root {
    .img-figure {
      position: absolute;

      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
    
      background-color: #fff;
    
      box-sizing: border-box;
      //设置鼠标移动图上变手型
      cursor: pointer;
      //修改图形的原点（x,y,z）
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      //移动的动画效果
      transition: transform .6s ease-in-out, left 0.6s ease-in-out,top 0.6s ease-in-out;

      &.is-inverse{
        //translate：向右移动320px
        transform: translate(320px) rotateY(180deg);
      }
    }

    .img-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      box-sizing: border-box;
      text-align: center;
      color: #666;
      transform: rotateY(180deg) translateZ(1px);
      backface-visibility:hidden;
      
      background: #fff;
    }

    figcaption {
      text-align: center;

      .img-title {
        margin: 30px 0 0 0;
      
        color: #a7a0a2;
        font-size: 20px;
      }
    }
    
  }

}



/* image -- end */

/* controller -- start */
.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  /* 决定堆叠顺序 */
  z-index: 101;

  width: 100%;

  text-align: center;

  @at-root {
    .controller-unit {
      display: inline-block;
      margin: 0 10px;
      width: 30px;
      height: 30px;

      text-align: center;
      //中部对齐
      vertical-align: middle;

      cursor: pointer;
      background-color: #aaa;
      //设置为圆形（改变棱角弧度）
      border-radius: 50%;

      transform: scale(.5);
      transition: transform .6s ease-in-out,background-color .3s;

      &.is-center {
        background-color: #888;

        transform: scale(1);

        &::after{
          color: #fff;
          // font-family: "iconfont";
          font-size: 150%;
          line-height: 30px;

          // content: "\e600";
          content: '\21B7';
        }

        //翻转后改变箭头方向
        &.is-inverse {
          background-color: #555;
          transform: rotateY(180deg);
        }
      }
    }
  }
}
/* controller -- end */